img {
    width: 100%;
}

.navbar-brand {
    width: 50px;
}

.card {
    margin: 15px;
    height: 100%;
}

.stages {
    font-weight: 900;
}

.footer {
    background-color: rgb(134, 131, 131);
    padding: 50px 0;
    margin-top: 20px;
}

.socio-link {
    font-size: 2rem;
    color: #dddbdf;
    margin: 10px;
}

.socio-link:hover {
    color: hite;
}

.footer p {
    color: #d5d5d5;
}

.collapse {
    font-family: 'Lobster', cursive;
}

body {
    background-color: rgb(224, 222, 222);
    font-family: 'Rubik Pixels', cursive;
}

.erno {
    text-decoration: none;
    color: rgb(255, 0, 0);
}